#user-side{
    width: 200px;
    height: 494px;
    border: 3px solid #e8e8e8;
    /*margin: 15px 0;*/
    float: left;
    background: rgba(118, 115, 128, 0.5);
}
#user-side img{
    margin: 25px;
    width: 150px;
}