/* CSS reset@ */
/*body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

del, ins {
  text-decoration: none;
}

fieldset, img {
  border: 0;
}

body, button, input, select, textarea {
  font: 14px "microsoft YaHei","simsun",Tahoma,Helvetica,Arial;
}

input, select, img {
  vertical-align: middle;
}

input, select {
  outline: none;
}

input, button, select, textarea {
  outline: none;
}

textarea {
  resize: none;
  overflow: hidden;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: 400;
}

address, cite, dfn, em, var {
  font-style: normal;
}

legend {
  display: none;
}

td {
  font-size: 12px;
  line-height: 160%;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input, button {
  background: none;
  border: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.fl {
  float: left;
  _display: inline;
}

.fr {
  float: right;
  _display: inline;
}

.header__info, .detail__box {
  zoom: 1;
}

.header__info:after, .detail__box:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.header__team-name.home-name, .header__team-score.home-score {
  float: left;
  _display: inline;
}

.header__team-name.away-name, .header__team-score.away-score {
  float: right;
  _display: inline;
}

.header__team-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body {
  min-width: 980px;
  color: #666;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

.header__info {
  width: 70%;
  padding: 0 50px;
  margin: 0 auto;
  height: 100px;
  border: 1px solid #e3e3e3;
  margin-top: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.header__team-name {
  font-size: 30px;
  line-height: 100px;
  width: 200px;
}

.header__team-name.home-name {
  text-align: left;
}

.header__team-name.away-name {
  text-align: right;
}

.header__team-score {
  font-size: 24px;
  line-height: 100px;
}

.header__time-box {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -75px;
  width: 150px;
  height: 98px;
  padding: 19px 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.detail__box {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.detail__team {
  width: 30%;
  padding: 20px;
  margin: 0 auto;
  height: 375px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow-y: auto;
}

.detail__team-name {
  text-align: center;
  color: #666;
  font-size: 18px;
  margin-bottom: 20px;
}

.detail__team-item {
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 28px;
}

.detail__team-item input {
  margin-bottom: 2px;
}

.detail__character {
  width: 34%;
  padding: 20px;
  margin: 0 auto;
  height: 375px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -17%;
  line-height: 28px;
  overflow-y: auto;
}
.detail__character p{
  margin: 0;
  padding: 0;
}

.detail__btn {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0 20px 20px 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.detail__btn-group {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 20px 0;
  position: relative;
}
.detail__select{
  position: absolute;
  top: 20px;
  left: 20px;
}

.detail__btn:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
